<h1>I am a child route</h1>

<a onclick={{action linkTo}}>Visit Compose Component</a>

<a onclick={{action linkToDynamic}}>Visit Dynamic Component (1234)</a>

<a onclick={{action linkToDynamicFoo}}>Visit Dynamic Component (foo-bar-baz)</a>

<section data-outlet="emails"></section>